/* Components */
img {
    max-width: 100%;
    height: auto;
}
a {
    font-family: 'Federo' , sans-serif;
    font-size: 24px;
}
h1 {
    font-family: 'Federo' , sans-serif;
    margin: 0;
    font-size: 52px;
    color: #f2efe9;
    font-weight: 400;
}
h2 {
    margin: 8px 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #454F41;
    padding: 8px 28px;
}
.nav-link {
    font-family: 'Federo' , sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding: 0 16px;
    color: #F2EFE9;
}
.hero-image {
    background-image: url('../images/field.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    margin: 0;
    align-items: center;
    display: flex;
    padding: 32px;

}
.hero-title {
    margin-top: 0;
}
.background-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212b40;
    min-height: 449px;
    padding: 8px 28px;
    font-family: 'Federo' , sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding: 60px 16px;
    color: #212b40;
}
.square {
    height: 354px;
    width: 1150px;
    background-color: #f2efe9;
  }
.left {
    position: absolute;
    left: 0px;
    width: 1150px;
    padding: 10px;
}
.background-three {
    background-color: #73876B;
    padding: 8px 28px;
}
.background-four {
    display: flex;
    justify-content: space-between;
    max-width: 1112px;
    padding: 8px 28px;
    margin: 0 auto;
}
.font-heading {
    font-family: 'Federo' , sans-serif;
    font-size: 46px;
    color: #212b40;
    font-weight: 400;
}
.font {
    font-family: 'Fenix' , serif;
    font-size: 24px;
    text-decoration: none;
    color: #212b40;
}
p {
    font-family: 'Fenix' , serif;
    font-size: 24px;
}
.font-3 {
    font-family: 'Federo' , sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding: 60px 16px;
    color: #212b40;
}
.styled-textbox-2 {
    max-width: 800px; /* Width of the text box */
}
.blog-image {
    background-image: url('../images/blog-photo.jpg');
    background-position: left;
    max-height: 278px;
    max-width: 416px;
    margin: 0;
    border: none;
}
.container {
    max-width: 1112px;
    margin: 0 auto;
    flex-grow: 1;
}
.margin-bottom {
    margin-bottom: 4px;
}
.font-2 {
    color: #f2efe9;
}
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 14px;
    color: #212b40;
}
.white-color {
    background-color: #f2efe9;
}
.green-color {
    background-color: #73876B;
}
.dark-green-color {
    background-color: #454F41
}
.white-color-heading {
    color: #f2efe9;
}
.col-lg-6 {
    flex-basis: 50%;
    padding: 0 8px;
}
.row {
    display: flex;
}
.padding {
    padding: 33px 80px;
}
.col-lg-4 {
    flex-basis: 33.333%;
    padding: 0 8px;
}
.align-middle {
    align-items: center;
}
.text-center {
    text-align: center;
}
.justify-content {
    justify-content: 10px;
}
.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent !important;
    color: white;
    border: 0 !important;
    cursor: pointer;
}
.open-menu {
    position: absolute;
}
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    background-color: #454F41;
    overflow: hidden;
    transition: 500ms;
}
.side-menu a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Federo', 'Arial', sans-serif ;
    padding: 20px;
    display: block;
    transition: 500ms;
    z-index: 99999;
}
.side-menu a:hover {
    background-color: #73876B;
}
.menu-links {
    transition: 500ms;
}
.shalom-menu {
    display: block;
}
.h-menu-icon {
    display: inline-block;
}
.material-symbols-outlined {
    background-color: #454F41;
    border: none;
    padding: 8px;
    color: #F2EFE9;       
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
/* Dropdown Button */
.dropbtn {
    background-color: #454F41;
    color: #F2EFE9;
    padding: 8px;
    font-size: 24px;
    font-family: Federo;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    right: 100px;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2EFE9;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #454F41;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
}
@media(max-width: 600px) {
    .row {
        flex-wrap: wrap;
    }
    .col-lg-4 {
        flex-basis: 100%;
    }
    .container {
        flex-grow: 0;
        flex-shrink: 1;
    }
    .padding {
        padding: 16px;
    }
    .hero-image {
        padding: 16px;
    }
    .background-four {
        flex-wrap: wrap;
        padding: 0px;
    }
    .nav-link {
        display: none;
    }
    .col-lg-6 {
        flex-basis: 100%;
    }
    .shalom-menu {
        display: none;
    }
    .h-menu-icon {
        display: inline-block;
    }
    .dropdown {
        display: none;
    }
}
 
